<!DOCTYPE html>
<html>
<head>
  <title>Photogram Final</title>
</head>

<body>

  <nav>
    <ul>
      <li><a href="/users">All users</a></li>
      <li><a href="/photos">All public photos</a></li>

      <% if current_user.present? %>
        <li><a href="/edit_user_profile"> <%= @current_user.user_name %> </a></li>
        <li><a href="/users/sign_out">Sign out</a></li>
      <% else %>
        <li> <a href= "/users/sign_in">Sign in </li>
        <li> <a href= "/users/sign_up">Sign up </li>
      <%end%>
    </ul>

    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <%end%>%
    <% if flash[:alert] %>
      <p><%= flash[:alert] %></p>
    <%end%>%
  </nav>

  <%=yield%>
</body>
</html>
